.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  /* .menuBtn{
    margin:10px
  } */
  .list{
    display:flex;
    list-style: none;
    margin-top:0px;
    box-shadow:0 2px 5px;
    width:fit-content;
    height:100px;
  }
  .checking{
    color: rgb(102, 198, 121);
  }
  .liItem{
    margin-left:20px;
    
  }
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  