.App {
    display:flex;
    text-align: center;
    position:relative;
    z-index: 2;
    margin-top:20px;
    gap:100px;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  .btns{
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
  }
  .list{
    display:flex;
    list-style: none;
    margin-top:0px;
    box-shadow:0 2px 5px;
    width:fit-content;
    justify-content: center;
    align-items: center;
    height:100px;
    margin-left: 20%;
    background:white
  }
  .checking{
    color: rgb(102, 198, 121);
  }
  .liItem{
    margin-left:20px;
    color:red
    /* margin-top:20px; */
  }
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .btnGap{
    margin-left:30px;
  }