.App {
    display:flex;
    text-align: center;
    position:relative;
    /* position:fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
   
    */
    z-index: 2; 
    margin-top:20px;
    gap:100px;

  }
  .motto{
    background-color: black;
    padding:5px;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  .btns{
    
    /* display: flex;
    justify-content: center;
    align-items: center; */
    gap:30px;
  }
  .hideMotto{
    display:none;
  }
  .list{
    display:flex;
    list-style: none;
    margin-top:0px;
    box-shadow:0 2px 5px rgba(0,0,0, 0.1);
    width:fit-content;
    justify-content: center;
    align-items: center;
    height:fit-content;
    border-radius:5px;
    margin-left: 20%;
    background-color: white;
    transition: opacity 0.3s ease;
    
  }
  .fullList {
    list-style:none;
    /* position:absolute;
    top:30px;
    right:30%; */
    display:flex;
    flex-direction: column;
    background-color: white;
    z-index:10;
    height:600px;
  }
  .headingOne{
    position:absolute;
    z-index:3;
    top:200px; 
    color:#FF00FF; 
    font-size:50px
  }
  .instruction{
    position:absolute;
    top:320px;
    z-index:4;
    color:#FFFF00;
    width:550px
  }
  .checking{
    color: rgb(102, 198, 121);
  }
  .liItem{
    margin-left:20px;
    color:red;
    transition:all 0.3s ease;
    /* margin-top:20px; */
  }
 
  .hideEachBtn{
    display:none
  }
  .menuBtn{
    margin-left:40px;
    transition: all 0.3s ease;
  }
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  .menuBar{
    display:none;
    height:fit-content;
  }
  @media only screen and (max-width:935px){
    .App{
    
      gap:60px;
      
    }
    .btnGap{
      margin-left:30px;
    }
    .motto{
      font-size:26px
    }
    .menuBtn{
      font-size:17px;
    }
  }

  @media only screen 
  and (max-width: 785px){
    .App{
      gap:40px;
    
    }
    .btns{
      gap:10px
    }
    .btnGap{
      width:fit-content;
    }
    .motto{
      font-size:18px;
    }
    .menuBtn{
      margin-left:37px;
      font-size: 15px;
    }
  }

  /* .hideBtns{
    display:none;
  } */
  @media only screen and (max-width : 645px){
    .hideBtns{
      display:none;
    }
    .signIn{
      display:none;
    }
    .menuBar{
      display:block;
      
      margin-right:40px;
      color:white
    }
    .closeBtn{
      position: absolute;
      right:18%;
    }
    .App{
      position:absolute;
      top:0;
      right:0;
      left:0;
      display:flex;
      justify-content: space-between;
      
    }
  }
  